:root {
  /* Primary */
  --Light-red-cta: hsl(356, 100%, 66%);
  --Very-light-red: hsl(355, 100%, 74%);
  -vdk-blue: hsl(208, 49%, 24%);

  /*Neutral */

  --White: hsl(0, 0%, 100%);
  --Grayish-blue: hsl(240, 2%, 79%);
  --vdk-grayish-blue: hsl(207, 13%, 34%);
  --vdk-black-blue: hsl(240, 10%, 16%);

  /* Gradient */

  --Vl-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 79%, 54%);

  /* Background-gradient - body: */

  --Vdk-gray-blue: hsl(237, 17%, 21%);
  --Vdk-desaturated-blue: hsl(237, 23%, 32%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}
.btn {
  padding: 0.5em 1.5em;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid var(--White);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  //   background-image: linear-gradient(
  //     var(--Vdk-gray-blue),
  //     var(--Vdk-desaturated-blue)
  //   );
}
.hero {
  position: relative;
  background-image: url(/images/bg-pattern-intro-desktop.svg);
  background-size: 200% 482%;
  background-repeat: no-repeat;
  background-position-x: 31%;
  background-position-y: 52%;
  border-bottom-left-radius: 7rem;
  height: 90vh;
  min-height: 90vh;
}

header {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .nav-links {
    display: flex;
  }
}
.hero::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, var(--Vl-red), var(--Light-red));
  border-bottom-left-radius: 7rem;

  z-index: -1;
}
.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
